/* CommentForm.scss */

div {
    text-align: center;
  
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      resize: vertical;
  
      &::placeholder {
        color: #999;
      }
    }
  
    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  