
.centered-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    background-color: #33333352;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(54, 47, 47);
    padding: 20px;
    width: 300px;
    
    .button {
      width: 100%;
      background-color: #00ff1eb4; /* Couleur de fond rouge */
      color: #ffffff; /* Couleur du texte en blanc */
      border: none;
      border-radius: 10px;
      cursor: pointer;
      padding: 10px 10px;
      transition: background-color 0.2s; /* Transition pour l'effet de hover */
    
      &:hover {
        background-color: #3633ff; /* Couleur de fond rouge légèrement plus claire au survol */
      }
    }
  }
  
  .planet-form h3 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .planet-form form {
  
    gap: 10px;
  }
  
  
  
  
  .error-message {
    display: flex;
    color: red;
  }
  
  input.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fcfcfc;
    border-radius: 10px;
    color: #000000;
  }
  
  